<app-user-navbar></app-user-navbar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of books,index">
                    <div class="card shadow-sm w-100">
                        <img height="200px" src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <h5 class="card-title">{{i.bookTitle}}</h5>
                          <p class="card-text">By {{i.authorName}}</p>
                          <p class="card-text">Description: {{i.description}}</p>
                          <p class="card-text">Language: {{i.language}}</p>
                          <p class="card-text">Publisher: {{i.publisher}}</p>
                          <p class="card-text">Released Year: {{i.releasedYear}}</p>
                          <p class="card-text">Distributor: {{i.distributor}}</p>
                          <p class="card-text">${{i.price}}</p>
                          <button routerLink="/view" class="btn btn-dark">Rent Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>